@font-face {
    font-family: 'Caveat';
    src: local('Caveat Regular'), local('Caveat-Regular'), url("../fonts/Caveat-Regular.woff2") format('woff2'), url("../fonts/Caveat-Regular.woff") format('woff'), url("../fonts/Caveat-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TTFirsNeue-Regular'), url("../fonts/TTFirsNeue-Regular.woff2") format('woff2'), url("../fonts/TTFirsNeue-Regular.woff") format('woff'), url("../fonts/TTFirsNeue-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TTFirsNeue-Medium'), url("../fonts/TTFirsNeue-Medium.woff2") format('woff2'), url("../fonts/TTFirsNeue-Medium.woff") format('woff'), url("../fonts/TTFirsNeue-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Firs Neue';
    src: local('TTFirsNeue-Bold'), url("../fonts/TTFirsNeue-Bold.woff2") format('woff2'), url("../fonts/TTFirsNeue-Bold.woff") format('woff'), url("../fonts/TTFirsNeue-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
