extends layout/layout.pug

block variable
    -var thanks = true;
    -var path = './';

block content
    section#home.home.section.thanks
        .container_center
            .home__content
                h1.home__title Спасибо за заявку!
                h2.section__sub Наш менеджер перезвонит вам <br>в течении 30 минут
